/* Reset de estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo general */
body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF; /* Blanco */
    color: #333; /* Gris oscuro para el texto */
    line-height: 1.6;
}

/* Encabezado */
header {
    background-color: #FFA500; /* Naranja */
    padding: 10px 0;
    text-align: center;
}

header .logo img {
    width: 150px;
}

/* Navegación */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #FFFFFF; /* Blanco */
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sección de inicio */
#inicio {
    text-align: center;
    padding: 50px 20px;
    background-color: #F4F4F4; /* Gris claro */
}

#inicio h1 {
    font-size: 36px;
    color: #FFA500; /* Naranja */
}

#inicio p {
    font-size: 18px;
    color: #555; /* Gris medio */
}

#inicio .btn {
    background-color: #FFA500; /* Naranja */
    color: #FFFFFF; /* Blanco */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

#inicio .btn:hover {
    background-color: #FF8C00; /* Naranja oscuro */
}

/* Sección de cursos */
#cursos {
    padding: 50px 20px;
    background-color: #FFFFFF; /* Blanco */
    text-align: center;
}

#cursos h2 {
    font-size: 30px;
    color: #333; /* Gris oscuro */
    margin-bottom: 20px;
}

.curso {
    background-color: #F4F4F4; /* Gris claro */
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: calc(50% - 40px);
}

.curso h3 {
    color: #FFA500; /* Naranja */
    font-size: 24px;
}

.curso p {
    color: #555; /* Gris medio */
    font-size: 16px;
}

.curso .btn {
    background-color: #FFA500; /* Naranja */
    color: #FFFFFF; /* Blanco */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.curso .btn:hover {
    background-color: #FF8C00; /* Naranja oscuro */
}

img{width:10rem;;}

/* Sección de contacto */
#contacto {
    padding: 50px 20px;
    background-color: #F4F4F4; /* Gris claro */
    text-align: center;
}

#contacto h2 {
    font-size: 30px;
    color: #333; /* Gris oscuro */
    margin-bottom: 20px;
}

#contacto a {
    color: #FFA500; /* Naranja */
    text-decoration: none;
}

#contacto a:hover {
    text-decoration: underline;
}

/* Pie de página */
footer {
    background-color: #333; /* Gris oscuro */
    color: #FFFFFF; /* Blanco */
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 16px;
}
